      html {
        font-family: 'Open Sans', sans-serif;
        background-color: #FBFBFF;
        border-top: 46px solid #757575;
        box-sizing: border-box;
        color: #0b0b0b;
      }
      body {
        font:inherit;
        vertical-align: baseline;
      }
      /*Start horizontal navigation*/
      nav {
        width: 960px;
        top:0;
        position: absolute;
        vertical-align:baseline;
        font-weight:normal;
      }
      nav ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
        overflow:hidden;
        background-color: #757575;
      }
      nav ul li{
        float: right;
      }
      nav ul li a{
        height: 18px;
        display: block;
        color: #FBFBFF;
        text-decoration: none;
        text-align: center;
        padding: 14px 16px;
      }
      .active { /*highlight current active nav page*/
        background-color: #20BF55;
      }
      nav ul li a.passive:hover{ /*Hover over new page*/
        background-color: #606060;
      }
      nav ul li.logo{   /*css for independent logo*/
        float: left;
      }
      /*finish horizontal navigation*/
      /*Start Fixed Layout CSS*/
      #index_body {
        margin-right: auto;
        margin-left: auto;
        width: 960px;
        background-color: #FBFBFF;

      }
      #wrapper {
        margin-right: auto;
        margin-left: auto;
        width: 960px;
        background-color: #FBFBFF;
        border-top: 2px solid #0b0b0b;
      }
      #title{
        margin-right: 10px;
        margin-left: 10px;
        width: 940px;
        text-align: center;
      }
      #motto{
        margin-right: 10px;
        margin-left: 10px;
        width: 940px; 
        text-align: center;
      }
      #content_homepage {
        margin-top: 10px;
        margin-right: 10px;
        float: right;
        width: 698px;
        background-color: #FBFBFF;
      }
      #aside_homepage {
        background-color: #FBFBFF;
        border-right-color: #0b0b0b;
        border-right-style: solid;
        border-right-width: 2px;
        margin-top: 10px;
        padding-right: 10px;
        margin-right: 10px;
        margin-left: 10px;
        float: left;
        width: 220px;
      }
      #footer_homepage {
        background-color: #FBFBFF;
        float:left;
        margin-top: 10px;
        margin-right: 10px;
        margin-left: 10px;
        clear: both;
        width: 940px;
      }

      /*Stop Fixed Layout CSS*/
      /*Start Fluid Layout CSS*/
      #resume_wrapper {
        margin-right: auto;
        margin-left: auto;
        max-width: 960px;
        background-color: #FBFBFF;
        border-top: 0.125em solid #0b0b0b;
      }
      #resume_title{
        width: 100%;
        text-align: center;
      }
      #resume_motto{
        width: 100%;
        text-align: center;
      }
      #resume_title_h2{
        width: 100%;
        text-align: center;
      }
      .fluid{
        width: 100%;
      }
      .fluid_section{
        width: 100%;
      }
      .fluid_object {
        float: left;
        width: 70%;
        margin: 0em;
      }
      .fluid_details {
        float: left;
        width: 100%;
        margin: 0em;
      }
      .fluid_parameter {
        float:right;
        width:30%;
        font-weight:normal;
        margin: 0em;
        text-align: right;
      }
      #nav_fluid {
        width: 100%;
        min-width: 385px;
      }
      /*Stop Fuild Layout CSS*/
      /*Start images and media*/
      img{
        border-radius: 1em;
        max-width: 100%;
        height: auto;
        max-height: 20em;
        margin-left: auto;
        margin-right: auto;
        display: block;
      }
      iframe{
        width: 48em;
        height: 27em;
        margin-left: auto;
        margin-right: auto;
        display: block;
      }
      /*Stop images and media*/
      /*resume*/
